#background{
    background-color: black;
    height:2300px;
    width:2000px;
}

#pacman{
    background-image: url('pacman/pacman-right1.jpg');
    height: 100px;
    width: 100px;
    position: absolute;
    top:1610px;
    left: 910px;
}

#score{
    font-size: 100px;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    height: 100px;
    width: 400px;
    margin-top: 2200px;
    position: absolute;
}
#ghostBonus{
    font-size: 100px;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    height: 100px;
    width: 400px;
    margin-top: 2200px;
    margin-left: 540px;
    position: absolute;
}

#run{
    font-size: 100px;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    height: 100px;
    width: 2000px;
    margin-top: 2200px;
    margin-left: 780px;
    position: absolute;
}

#finish{
    font-size: 100px;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    height: 100px;
    width: 2000px;
    margin-top: 1200px;
    margin-left: 300px;
    position: absolute;
}

#lives{
    font-size: 200px;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    height: 100px;
    width: 2000px;
    margin-top: 1000px;
    margin-left: 290px;
    position: absolute;
}

.wall{
    background-image: url('images/wall.png');
    height: 100px;
    width: 100px;
    position: absolute;
}

#walls{
    height:2200px;
    width:1900px;
    position: absolute;
    
}

.ghost{
    background-image: url('images/ghostGrey.jpg');
    height: 100px;
    width: 100px;
    position: absolute;
}
.ghostRed{
    background-image: url('images/ghostRed.png');
    height: 100px;
    width: 100px;
    position: absolute;
}
.scared{
    background-image: url('images/ghostScared.png');
    height: 100px;
    width: 100px;
    position: absolute;
}

#ghosts{
    height:2200px;
    width:1900px;
    position: absolute;
    
}
#ghostsRed{
    height:2200px;
    width:1900px;
    position: absolute;
    
}

.pellet{
    background-image: url('images/pellet.png');
    height: 100px;
    width: 100px;
    position: absolute;
}

.powerPellet{
    background-image: url('images/powerPellet.png');
    height: 100px;
    width: 100px;
    position: absolute;
}

#pellets{
    height:2200px;
    width:1900px;
    position: absolute;
    
}

#powerPellets{
    height:2200px;
    width:1900px;
    position: absolute;
}



